[faraday_server]
port = 5985
bind_address = 0.0.0.0
websocket_port = 9000
api_token_expiration = 604800
session_timeout = 24
delete_report_after_process = true
redis_session_storage = redis
secret_key = 
agent_registration_secret = 
websocket_server_fqdn = fqdn
websocket_server_port = port
notifications_enabled = boolean

[storage]
path = /home/faraday/.faraday/storage

[database]
connection_string = postgresql