auth:
    faraday_url: {{ config_faraday_url }}
    token: {{ config_token }}
    ignore_ssl: {{ config_ignore_ssl }}
faraday:
    workspace: {{ config_workspace }}
settings:
    custom_plugins_path: {{ config_custom_plugins_path }}
    ignore_info_severity: {{ config_ignore_info_severity }}
    auto_command_detection: {{ config_auto_command_detection }}